.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    /* Media query para pantallas pequeñas */
    @media screen and (max-width: 480px) {
        font-size: 10px;
    }
}

.img-logo {
    /* Media query para pantallas pequeñas */
    @media screen and (max-width: 480px) {
        width: 20px;
    }
}

.redes img {
    padding: 0px 15px;
    width: 45px;

    /* Media query para pantallas pequeñas */
    @media screen and (max-width: 480px) {
        width: 20px;
    }
}
